/runtime
/public/index.html
/public/assets/
.project
.buildpath
.settings
.idea
/vendor
/node/sy_node_prod/node_modules
/logs
/node
.env

/public/.htaccess
/public/.user.ini
/public/storage/

/config/
/Log/
nohup.out
